RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^\.]+)$ .php [L]

<FilesMatch "^\.(htaccess|htpasswd|env)$">
    Order Deny,Allow
    Deny from all
</FilesMatch>
